* {
    box-sizing: border-box;
}

.logo {
    border: #e65100 2px solid;
    display: inline-block;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.navbar {
    background-color: black;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar li {
    margin: 0 15px;

}

.navbar a {
    color: orange;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
    padding: 10px 15px;
    font-size: 18px;
    transition: color 0.3s ease;
    border: 2px solid #f05423;
    border-radius: 5px;
    margin-right: 5px;
}

.navbar a:hover {
    color: #fff;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px; /* To account for fixed navbar */
}

.home {
    display: flex;
    width: 100%;
    height: 100vh; /* Ensure it takes the full viewport height */
}

.home-left {
    background-color: #e65100; /* Darker orange */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.home-right {
    background-color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.profile-image {
    border-radius: 50%;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}

.name {
    font-size: 2.5rem;
    margin: 20px 0;
    text-shadow: 2px 2px 4px;
    font-style: italic;
    color: #1d1d1d;
    font-weight: bold;
    letter-spacing: 2px;
}

.social-media {
    display: flex;
    margin-top: 10px;
    bottom: 20px;
    left: 250px;
    padding-left: 80px;
    position: absolute;
}

.social-media img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
    margin-right: 50px;
}

.social-media img:hover {
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff9a00;
}

.section-about {
    background-color: #1d1d1d;
    height: 100vh;
}

.section-skills {
    background-color: #1d1d1d;
    height: 100vh;
}

.section-projects {
    background-color: #1d1d1d;
    height: 100vh;
}

.section-contact {
    background-color: #1d1d1d;
    height: 50vh;
}

.skills-list {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px ;
    margin-bottom: 15px;
}

.skill-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin-top: 5px;
}

.skill-bar-filled {
    background-color: #2a2a2a;
    height: 100%;
    border-radius: 5px;
}

.skill-item {
    background-color: #f05423;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.skill-item:hover {
    transform: scale(1.05);
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-item {
    background-color: rgba(255, 165, 0, 0.2);
    margin: 15px;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    transition: transform 0.3s;
}

.project-item:hover {
    transform: scale(1.05);
}

footer {
    background-color: black;
    text-align: center;
    padding: 1em 0;
}
